{% extends 'base.html' %}

{% block content %}

<div class="header-section">
  <h2>MY PROFILE</h2>
</div>

<div class="layout">
  <div class="profile">
    <div class="profile-info">
      <img src="../../static/images/person.jpeg">
      <p class="username">Username</p>
      <p class="email">Email Address</p>
    </div>

    <div class="profile-btns">
      <button class="upload-btn"><a href="#">CHANGE PROFILE PHOTO</a></button>
      <button class="fav-btn"><a href="#"><i class="far fa-bookmark"></i></a></button>
    </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="../../static/images/feed-img.jpg" alt="NFT image">
        <div class="feed-info">
          <h4 class="title">Title</h4>
          <p>Price</p>
        </div>

      </div>

      <div class="col-md-3">
        <img src="../../static/images/feed-img.jpg" alt="NFT image">
        <div class="feed-info">
          <h4 class="title">Title</h4>
          <p>Price</p>
        </div>

      </div>

      <div class="col-md-3">
        <img src="../../static/images/feed-img.jpg" alt="NFT image">
        <div class="feed-info">
          <h4 class="title">Title</h4>
          <p>Price</p>
        </div>

      </div>

      <div class="col-md-3">
        <img src="../../static/images/feed-img.jpg" alt="NFT image">
        <div class="feed-info">
          <h4 class="title">Title</h4>
          <p>Price</p>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}