<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/app/static/css/login.css">
  <title>Login</title>
</head>
<body>
  <div class="header-body">
    <div>
      <div class="img">
        <img style="width: 310px;" src="/app/static/images/Screenshot from 2022-05-18 03-46-53.png" alt="front-img">
      </div>
      <div class="front">
        <p>Discover, Create or Sell</p>
      </div>
      <div class="front-1">
        <p> DIGITAL ITEMS</p>
      </div>
      <div class="front-2"> 
        <P>Partner with one of the biggest retailers to showcase your <br> brand and products</P>
      </div>
    </div>
  </div>
  <div class="login-box">
    <h1>Login</h1>
    <form>
      <label>Email</label>
      <Input type="email" placeholder="">
      <label>Password</label>
      <Input type="password" placeholder="">
      <Input type="button" value="Login">
    </form>
    <div class="no">
      <p>Don't have an account ?<a href="/signup.html">SIGN UP HERE</a></p>
    </div>
  </div>
</body>
</html>