<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/app/static/css/reset.css">
  <title>Password Reset</title>
</head>
<body class="container">
  <div class="reset-box">
    <h1>Reset Password</h1>
    <form>
      <label>Old Password</label>
      <input type="text" placeholder="">
      <label>New Password</label>
      <input type="text" placeholder="">
      <label>Confirm Password</label>
      <input type="text" placeholder="">
      <input type="button" value="Submit">
    </form>
  </div>
  <p>Back to <a href="#">Login</a></p>
</body>
</html>