<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Stylesheets-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static',filename='css/signup.css')}}" />

  <title>SIGN UP</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="login-info">
          <img src="../../static/images/home-img.png">

          <div class="intro-txt">
            <h2>Discover, Create or Sell <span class="purple-txt">DIGITAL ITEMS</span> </h2>
            <p>Partner with one of the best retailers to showcase your brand and products</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h2>SIGN UP</h2>

        <form action="{{url_for('auth.signup')}}" method="POST">
          {{ signup_form.csrf_token}}
          {{ signup_form.username.label}}
          {{signup_form.username}}

          {{signup_form.email.label}}
          {{ signup_form.email}}

          {{signup_form.password.label}}
          {{signup_form.password}}    
                
          {{signup_form.confirm_password.label}}
          {{signup_form.confirm_password}}
    
          {{signup_form.submit(class='submit-btn')}}
        </form>

        <p> Already have an account? <strong><a href="{{url_for('auth.login')}}">LOGIN</a></strong></p>
      </div>
    </div>
  </div>
</body>

</html>