<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/app/static/css/signup.css">
  <title>SignUp Page</title>
</head>
<body>
  <div class="header-body">
    <div>
      <div class="image">
        <img style="width: 250px;" src="/app/static/images/Screenshot from 2022-05-18 03-46-53.png" alt="front-img">
      </div>
      <div class="front">
        <p>Discover, Create or Sell</p>
      </div>
      <div class="front-1">
        <p> DIGITAL ITEMS</p>
      </div>
      <div class="front-2"> 
        <P>Partner with one of the biggest retailers to showcase your <br> brand and products</P>
      </div>
    </div>
  </div>
  <div class="signup-box">
    <h1>Sign Up</h1>
    <h4>It is free and only takes a minute</h4>
    <form>
      <label>Username</label>
      <Input type="text" placeholder="">
      <label>Email</label>
      <Input type="email" placeholder="">
      <label>Password</label>
      <Input type="password" placeholder="">
      <label>Confirm Password</label>
      <Input type="password" placeholder="">
      <Input type="button" value="Submit">
    </form>
    <p>By clicking the Sign Up button, you agree to our <br>
    <a href="#">Terms and Condition</a> and <a href="#">Policy And Privacy</a>
    </p>
  </div>
  <p class="already">Already have an account? <a href="login.html">LOGIN</a></p>

</body>
</html>