<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/app/static/css/landing.css">
  <title>Landing Page</title>
</head>
<body>
  <header>
    <div class="container">
      <div class="header-body">
        <div>
          <div class="p" style="margin-left: -800px; margin-top: 300px;">
            <h3>Discover, Create or Sell</h3>
          </div>
          <div style="margin-right: 870px;">
            <h3 style="color: blueviolet;">DIGITAL ITEMS</h3>
          </div>
          <div style="margin-right: 630px;">
            <p>Partner with one of the biggest retailers to showcase your brand and products</p>
          </div>
          <div style="margin-right: 870px;">
            <a href="#" class="btn btn-primary">EXPLORE</a>
          </div>
        </div>
        <img src="/app/static/images/Screenshot from 2022-05-18 03-46-53.png" alt="front-img">
      </div>
    </div>
  </header>

  <div class="container">
    <section class="services">
      <div class="cards">
        <div class="card">
          <i class="bi bi-wallet">SET UP YOUR WALLET</i>
          <p>NFT's ate transforming the way commerce is transacted</p>
        </div>
        <div class="card">
          <i class="bi bi-wallet">ADD YOUR NFT's</i>
          <p>NFT's ate transforming the way commerce is transacted</p>
        </div>
        <div class="card">
          <i class="bi bi-wallet">SELL YOUR NFT's</i>
          <p>NFT's ate transforming the way commerce is transacted</p>
        </div>
      </div>
    </section>
    <section class="explore">
      <div class="grid">
        <div>
          <h2>Top Products</h2>
        </div>
        <div class="cards">
          <div class="card">
            <img src="/app/static/images/Screenshot from 2022-05-18 03-50-40.png" alt="nft">
          </div>
          <div class="card">
            <img src="/app/static/images/Screenshot from 2022-05-18 03-50-41.png" alt="nft">
          </div>
          <div class="card">
            <img src="/app/static/images/Screenshot from 2022-05-18 03-50-42.png" alt="nft">
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>