body{
  background-color: #020824;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.login-box{
  width: 390px;
  height: 380px;
  border-radius: 3px;
  background-color: white;
  margin-left: 900px;
  margin-top: -500px;
}

.login-box h1{
  text-align: center;
}

form{
  width: 300px;
  margin-left: 20px;
}

form label{
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input{
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

input[type="button"]{
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #020824;
  color: white;
  font-size: 18px;
}

p{
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}

.img{
  margin-left: 150px;
  margin-top: 200px;
}

.front{
  color: white;
  margin-right: 1000px;
}

.front p{
  font-size: xx-large;
}

.front-1{
  color: blue;
  margin-right: 1000px;
}

.front-1 p{
  font-size: xx-large;
}

.front-2{
  color: white;
  margin-right: 1000px;
}

.front-2 p{
  font-size: larger;
}