{% extends 'base.html' %}

{% block content %}

<div class="header-section">
  <h2>EXPLORE NFT's</h2>
</div>

<div class="layout">
  <!-- <div class="categories">
    <h4>ALL</h4>
    <h4>ART</h4>
    <h4>PHOTOGRAPHY</h4>
    <h4>COLLECTIBLES</h4>
    <h4>SPORTS</h4>
  </div> -->

  <div id="categories">
    <button class="btn active"><a href="#">ALL</a></button>
    <button class="btn"><a href="#">ART</a></button>
    <button class="btn"><a href="#">PHOTOGRAPHY</a></button>
    <button class="btn"><a href="#">COLLECTIBLES</a></button>
    <button class="btn"><a href="#">SPORTS</a></button>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3">

        <i class="fas fa-heart"></i>
        <img src="../../static/images/feed-img.jpg" alt="NFT image">
        <div class="feed-info">
          <h4 class="title">Title</h4>
          <p>Owned By:</p>
          <p>Price</p>
          <button class="buy-btn"><a href="">Buy Now</a></button>
        </div>

      </div>

      <div class="col-md-3">

        <i class="fas fa-heart"></i>
        <img src="../../static/images/feed-img.jpg" alt="NFT image">
        <div class="feed-info">
          <h4 class="title">Title</h4>
          <p>Owned By:</p>
          <p>Price</p>
          <button class="buy-btn"><a href="">Buy Now</a></button>
        </div>

      </div>

      <div class="col-md-3">

        <i class="fas fa-heart"></i>
        <img src="../../static/images/feed-img.jpg" alt="NFT image">
        <div class="feed-info">
          <h4 class="title">Title</h4>
          <p>Owned By:</p>
          <p>Price</p>
          <button class="buy-btn"><a href="">Buy Now</a></button>
        </div>

      </div>

      <div class="col-md-3">

        <i class="fas fa-heart"></i>
        <img src="../../static/images/feed-img.jpg" alt="NFT image">
        <div class="feed-info">
          <h4 class="title">Title</h4>
          <p>Owned By:</p>
          <p>Price</p>
          <button class="buy-btn"><a href="">Buy Now</a></button>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}