{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}

<div class="header-section">
  <h2>EXPLORE NFT's</h2>
</div>

<div class="layout">
  <!-- <div class="categories">
    <h4>ALL</h4>
    <h4>ART</h4>
    <h4>PHOTOGRAPHY</h4>
    <h4>COLLECTIBLES</h4>
    <h4>SPORTS</h4>
  </div> -->

  <div id="categories">
    <a class="btn active" href="{{url_for('explore.explore_nfts', category="ALL")}}">ALL</a>
    <a class="btn" href="{{url_for('explore.explore_nfts', category="ART")}}">ART</a>
    <a class="btn" href="{{url_for('explore.explore_nfts', category="MUSIC")}}">MUSIC</a>
    <a class="btn" href="{{url_for('explore.explore_nfts', category="PHOTOGRAPHY")}}">PHOTOGRAPHY</a>
    <a class="btn" href="{{url_for('explore.explore_nfts', category="COLLECTIBLES")}}">COLLECTIBLES</a>
    <a class="btn" href="{{url_for('explore.explore_nfts', category="SPORTS")}}">SPORTS</a>
  </div>

  <div class="container">
    <div class="row">
      {{macro.display_nfts(nfts)}}
    </div>
  </div>
</div>

{% endblock %}