{% extends 'base.html' %}

{% block content %}

<div class="header-section">
  <h2>FAVORITES</h2>
</div>

<div class="layout">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        
        <img src="../../static/images/feed-img.jpg" alt="NFT image">
        <div class="feed-info">
          <h4 class="title">Title</h4>
          <p>Owned By:</p>
          <p>Price</p>
          <button class="buy-btn"><a href="">Buy Now</a></button>
        </div>

      </div>

      <div class="col-md-3">
        
        <img src="../../static/images/feed-img.jpg" alt="NFT image">
        <div class="feed-info">
          <h4 class="title">Title</h4>
          <p>Owned By:</p>
          <p>Price</p>
          <button class="buy-btn"><a href="">Buy Now</a></button>
        </div>

      </div>

      <div class="col-md-3">
        
        <img src="../../static/images/feed-img.jpg" alt="NFT image">
        <div class="feed-info">
          <h4 class="title">Title</h4>
          <p>Owned By:</p>
          <p>Price</p>
          <button class="buy-btn"><a href="">Buy Now</a></button>
        </div>

      </div>

      <div class="col-md-3">
        
        <img src="../../static/images/feed-img.jpg" alt="NFT image">
        <div class="feed-info">
          <h4 class="title">Title</h4>
          <p>Owned By:</p>
          <p>Price</p>
          <button class="buy-btn"><a href="">Buy Now</a></button>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}