<!-- Footer section -->
<div class="footer">

  <div class="newsletter">
    <h5>Subscribe To Our Newsletter </h5>
    <form>
      <input type="email" name="email" placeholder="Enter email">
      <button class="submit-btn" type="submit">SUBSCRIBE</button>
    </form>
  </div>

  <div class="social">
    <a href="#" class="fab fa-linkedin"></a>
    <a href="https://github.com/BrianMwevi/NFT-MINTs.git" class="fab fa-github"></a>
    <a href="#" class="fab fa-facebook"></a>
  </div>
  <p><span>&#169;</span> NFT-Mints 2022. All Rights Reserved.</p>

</div>