<!-- Navbar section -->
<div class="nav-background">
  <img src="{{url_for('static', filename='images/nav-img.jpg')}}" alt="Logo" />
</div>

<header class="navbar">
  <div class="logo">
    <a href="{{ url_for('home.index')}}"><img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo" /></a>
  </div>

  <ul id="nav-btns">
    <li><a class="link active" href="{{url_for('home.index')}}">HOME</a></li>
    <li><a class="link" href="{{url_for('explore.explore_nfts', category='all')}}">EXPLORE</a></li>
    <li><a class="link" href="#">CREATE</a></li>
  </ul>

  <div class="wallet">
    <button class="login-btn"><a href="#">PROFILE</a></button>
    <a href="#"><i class="fas fa-wallet"></i></a>
  </div>
  
</header>