<!-- Navbar section -->
<div class="nav-background">
  <img src="../static/images/nav-img.jpg" alt="Logo" />
</div>

<header class="navbar">
  <div class="logo">
    <img src="../static/images/logo.png" alt="Logo" />
  </div>

  <ul id="nav-btns">
    <li><a class="link active" href="#">HOME</a></li>
    <li><a class="link" href="{{url_for('explore.exploreNFTs')}}">EXPLORE</a></li>
    <li><a class="link" href="#">CREATE</a></li>
  </ul>

  <div class="wallet">
    <button class="login-btn"><a href="#">PROFILE</a></button>
    <a href="#"><i class="fas fa-wallet"></i></a>
  </div>
  
</header>